

head{
	font-family: Helvetica, serif
	font-size: 200px;
	font-style: bold;

}

body{
	background-color: lightblue;
	color: white;

}

h1{
	color: white:
	font-family: Helvetica, Arial
	font-size 60px;
	font-style: italic;

}
a
	../*color:black;*/
}

title{
	font-family: Helvetica, serif
	font-size: 80px;
	font-style: bold;
}

large-image{
    width: 500px;

 }

}
main-title{
   font-color: white;
   font-size: 300px;
   font-family: Helvetica, serif;
   font-style: bold;


  }