.white-border {
    border-color: white;
    border-width: 5px;
    border-style: solid;
    padding: 40px
  }

  .mediumpurple-border {
    border-color: mediumpurple;
    border-width: 5px;
    border-style: solid;
    padding: 40px
  }

  .silver-border {
    border-color: silver;
    border-width: 5px;
    border-style: solid;
    padding: 40px
  }

  .black-border {
    border-color: black;
    border-width: 5px;
    border-style: solid;
    padding: 40px
  }

  .pink-border {
    border-color: pink;
    border-width: 5px;
    border-style: solid;
    padding: 40px
  }

    .orange-border {
    border-color: orange;
    border-width: 5px;
    border-style: solid;
    padding: 40px
  }

    .turqoise-border {
    border-color: rgb(81, 176, 179);
    border-width: 5px;
    border-style: solid;
    padding: 40px
  }


head{
	font-family: Helvetica, serif;
	font-size: 200px;
	font-style: bold;
}

body{
	background-color: black;
}

.big-image{
    width: 35%;
 }

.big-image-box{
  text-align: center;
}

.small-image{
    width: 20%;
 }

.right-container{
  text-align: right;
}

.center-container{
  text-align: center;
}


main-text{
   font-color: white;
   font-size: 100px;
   font-family: Helvetica, serif;
   font-style: bold;
 }

.titleee{
   font-color: white;
   font-size: 20px;
   font-family: Helvetica, serif;
   font-style: italic;
 }

.abc{
   font-color: white;
   font-size: 10px;
   font-family: Helvetica, serif;
   font-style: italic;
  }
.titlepage{
   background-color: grey
   color: white;
   font-size: 40px;
   font-family: Verdana, sans-serif;
  }

 .page-one{
   color: mediumpurple;
   font-size: 25px;
   font-family: Verdana, sans-serif;
  }
 .page-two{
   color: orange;
   font-size: 25px;
   font-family: Verdana, sans-serif;
  }

  .page-three{
   color: pink;
   font-size: 25px;
   font-family: Verdana, sans-serif;
  }

  .page-four{
   color: rgb(81, 176, 179);
   font-size: 40px;
   font-style: bold;
   font-family: Verdana, sans-serif;
  }

  .page-five{
   color: white;
   font-size: 50px;
   font-family: Verdana, sans-serif;
  }



.indexpage {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Helvetica', sans-serif;
  background: rgb(26, 188, 156);
  background: -moz-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  background: -webkit-linear-gradient(-45deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
  background: linear-gradient(135deg, rgba(26, 188, 156, 1) 0%, rgba(142, 68, 173, 1) 100%);
}

  body,
h1 {
  font-size: 24px;
  margin: 10px 0 0 0;
  font-weight: lighter;
  text-transform: uppercase;
  color: #eeeeee;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}

@mixin increment-delay($offset: .05s, $count: 10, $delay: 0, $type: transition) {
  @for $i from 1 through $count {
    $time: ($i * $offset) + $delay;
    &:nth-child(#{$i}) {
      #{$type}-delay: $time;
    }
  }
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.emojis {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.emoji {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border: 3px white solid;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  @include increment-delay($type: animation, $offset: .5s);
  
  &:hover {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
     animation-play-state: paused;
  }
  
  a {
    text-decoration: none;
  }
  span {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    border: none;
  }
}

.content {
  margin: 2rem 0;
}
